@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  background-image: url(../public/bg-Layer.png);
  background-size: cover;
  mix-blend-mode: overlay;

}


/* .gradient{
  background: linear-gradient(270deg, #C660C7 0%, #4CC5C0 100%);

} */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
